doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Birthstone Bounce' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet')
    link(rel="shortcut icon" type="image/png" href="https://i.postimg.cc/0jt9zrcY/favicon.png")
  body
    block content
